#netsposts-menu {
float:left;


}
.netsposts-ul {
font-size:20px;
padding:0;
margin: 0 0 8px 0 !important;
}

.netsposts-ul li{
list-style:none;
border-left:20px solid #d2def0;
line-height:120%;
margin-bottom:10px;
padding-left:8px;
}



#block-wrapper {

float:left;
}

.clear {
clear:both;
}

.netsposts-content {
display:inline-block;
margin-bottom:15px;

}

.netsposts-title {
font-family: 'Open Sans Condensed',sans-serif;
font-size:32px;
border-bottom:2px solid  #ccc;
margin-left:30px;
font-weight:400;
display:block;
padding:2px 5px 12px 5px;
}

.netsposts-post-titles-only {
font-family:impact;
font-size:22px;
font-weight:lighter;
margin-bottom:5px;
display:block;

}

.netsposts-posttitle {
font-family:impact;
font-size:22px;
font-weight:lighter;
margin-bottom:5px;
display:inline-block;
}

.netsposts-posttitle a {
color:#004080;
line-height:120%;
}

.netsposts-column {
display:inline-block;
float:left;
width:360px;
margin:0 0 0 30px ;
}

.netsposts-source {
display:block;
border-top:1px dotted #ccc;
border-bottom:1px dotted #ccc;
margin-bottom:5px;
font-family:serif;
color:#8d8d8d;
}

.netsposts-excerpt{
font-size:13px;
font-family:Arial Narrow, Helvetica, Arial;
line-height:120%;
text-align:justify;
text-justify:distribute;
}

#netsposts-paginate {
font-family:Arial, Helvetica, sans-serif;
padding: 3px;
 border-top:1px dotted #ccc;
border-bottom:1px dotted #ccc;
margin:0 0 0 30px ;
}
 
#netsposts-paginate a {
    text-decoration:none;
    color: #000080;
}
#netsposts-paginate a:hover {
       background-color: #800000;
}
#netsposts-paginate span.current {
        padding:2px 5px 2px 5px;
    background-color: #d0dff2;
    color:#000080;
  margin: 2px;
    }

#netsposts-paginate  a.next , #netsposts-paginate  a.prev  {

}

 #netsposts-paginate .page-numbers {
    padding: 2px 5px 2px 5px;
        color:#fffbf0;
   background-color: #7d99c4;

 margin: 2px;
    }